obj
bin
.idea
.vs
.vscode
.config
/ConsoleTeleBotClient/obj
/ConsoleTeleBotClient/bin
/ConsoleTeleBotClient/.idea
/ConsoleTeleBotClient/.vs
/ConsoleTeleBotClient/.vscode
/ConsoleTeleBotClient/App.db
/ConsoleTeleBotClient/ConsoleTeleBotSettings.json
/ConsoleTeleBotMaster/obj
/ConsoleTeleBotMaster/bin
/ConsoleTeleBotMaster/.idea
/ConsoleTeleBotMaster/.vs
/ConsoleTeleBotMaster/.vscode
/ConsoleTeleBotMaster/App.db
/ConsoleTeleBotMaster/ConsoleTeleBotSettings.json
/ConsoleTeleBotMaster/wwwroot/Export_Settings.zip
/ConsoleTeleBotMaster/wwwroot/Export_App.zip
/ConsoleTeleBotMaster/wwwroot/Export_App_Settings.zip
/Services/obj
/Services/bin
/Services/Migrations